<div class="row well">
  <form novalidate class="form-horizontal" id="login-form" name="loginForm" data-ng-submit="login(user)">
    <div class="form-group">
      <label class="col-2 control-label" for="input-username">Username</label>
      <div class="col-6">
        <input type="text" id="input-username" class="form-control" data-ng-model="user.username" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-2 control-label" for="input-password">Password</label>
      <div class="col-6">
        <input type="password" id="input-password" class="form-control" data-ng-model="user.password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-2"></div>
      <div class="col-10">
        <button type="submit" class="btn btn-primary" data-ng-disabled="loginForm.$invalid">Login</button>
        <a type="button" class="btn btn-default" href="#/books">Cancel</a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-2"></div>
      <div class="col-6">
        <div class="alert alert-danger" data-ng-show="error">{{error}}</div>
      </div>
    </div>
  </form>
</div>

