<div class="row well">
<form novalidate class="form-horizontal" id="signup-form" name="signupForm" data-ng-submit="signup(user)">
  <div class="form-group">
    <label class="col-2 control-label" for="input-fullname">Full Name</label>
    <div class="col-6 controls">
      <input type="text" id="input-fullname" class="form-control" data-ng-model="user.name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-2 control-label" for="input-email">Email</label>
    <div class="col-6 controls">
      <input type="email" id="input-email" name="email" class="form-control" data-ng-model="user.email" required>
    </div>
    <div class="col4 clearfix" data-ng-show="signupForm.email.$error.email && signupForm.email.$dirty">
      <p class="text-danger">Invalid email address</p>
   	</div>
  </div>
  <div class="form-group">
    <label class="col-2 control-label" for="input-password">Password</label>
    <div class="col-6 controls">
      <input type="password" id="input-password" class="form-control" data-ng-model="user.password" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-2 control-label" for="input-confirm">Confirm Password</label>
    <div class="col-6 controls">
      <input type="password" id="input-confirm" class="form-control" data-ng-model="user.confirm" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-2"></div>
    <div class="col-10 controls">
      <button type="submit" class="btn btn-primary" data-ng-disabled="signupForm.$invalid">Sign up</button>
      <a type="button" class="btn btn-default" href="#/books">Cancel</a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-2"></div>
    <div class="col-6 controls">
      <div class="alert alert-danger" data-ng-show="error">{{error}}</div>
    </div>
  </div>
</form>
</div>